In [1]:
import pandas as pd

In [9]:
data_frame=pd.read_excel("pandas_icin_excel.xlsx")
data_frame

  Unnamed: 0  sütun1  sütun2  sütun3  sütun4  sütun5
0     satır1   veri1     NaN   veri3   veri4   veri5
1     satır2   veri6   veri7   veri8     NaN  veri10
2     satır3  veri11  veri12  veri13  veri14     NaN
3     satır4     NaN  veri17  veri18  veri19  veri20

In [14]:
doludata_frame=data_frame.fillna("data")
doludata_frame
doludata_frame.to_excel("pandas_icin_excel1.xlsx")

In [15]:
## eğer excel dosyası csv ise read_csv - to_csv