In [1]:
import numpy as np
import pandas as pd

In [2]:
ilk_indexler=["sim","sim","sim","south park","south park","south park"]
ic_indexler=["homer","marge","bart","cartman","kenny","kyle"]
birleşmiş_index=list(zip(ilk_indexler,ic_indexler))
birleşmiş_index
birleşmiş_index=pd.MultiIndex.from_tuples(birleşmiş_index)
birleşmiş_index# pandastan türüyen multi index
benimcizgidizilist=[[40,"a"],[30,"b"],[21,"c"],[10,"d"],[11,"e"],[9,"f"]]
npcizgidizilist=np.array(benimcizgidizilist)
cizgidiziFrame=pd.DataFrame(npcizgidizilist,index=birleşmiş_index,columns=["a","b"])
cizgidiziFrame
cizgidiziFrame.index.names=["diziadı","karakterler"]
cizgidiziFrame

                         a  b
diziadı    karakterler
sim        homer        40  a
           marge        30  b
           bart         21  c
south park cartman      10  d
           kenny        11  e
           kyle          9  f