In [25]:
import pandas as pd
import numpy as np

series/seriler (hem liste-dict-numpy_dizisi ile )
ps.Series(data,index)

In [26]:
dict1={"veri1":1,"veri2":2,"veri3":3} 
print(pd.Series(dict1))

veri1    1
veri2    2
veri3    3
dtype: int64

In [27]:
dict1=["veri1","veri2","veri3"]
dict2=[1,2,3]
print(pd.Series(dict2,dict1))
print(pd.Series(dict1,dict2))

veri1    1
veri2    2
veri3    3
dtype: int64
1    veri1
2    veri2
3    veri3
dtype: object

In [28]:
yarısmaSonucu1=pd.Series([20,10,8],["Atlas","Sinan","Mert"])
yarısmaSonucu2=pd.Series([10,20,22],["Atlas","Sinan","Mert"])
print(f"{yarısmaSonucu1},\n {yarısmaSonucu2}")

Atlas    20
Sinan    10
Mert      8
dtype: int64,
 Atlas    10
Sinan    20
Mert     22
dtype: int64

In [29]:
yarısmaSonuc=yarısmaSonucu1+yarısmaSonucu2
print(yarısmaSonuc)

Atlas    30
Sinan    30
Mert     30
dtype: int64

In [30]:
farklıseri1=pd.Series([20,30,40,50],["a","b","c","d"])
farklıseri2=pd.Series([30,40,50,60],["d","c","b","a"])
farklıserisonuc=farklıseri1+farklıseri2
print(farklıserisonuc)

a    80
b    80
c    80
d    80
dtype: int64

In [31]:
farklıseri1=pd.Series([20,30,40,50],["a","b","c","d"])
farklıseri2=pd.Series([60,40,50,60],["a","c","g","f"])
farklıserisonuc=farklıseri1+farklıseri2
print(farklıserisonuc)

a    80.0
b     NaN
c    80.0
d     NaN
f     NaN
g     NaN
dtype: float64

##DATAFramePandas
serilerin yanyana gelmesi ile oluşan bir yapı

In [32]:
data=np.random.randn(3,3)
dataFrame=pd.DataFrame(data)#type pandas.core.series.Series
dataFrame1=pd.DataFrame(data,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
print(dataFrame)
print(dataFrame1)

          0         1         2
0  0.528466 -1.205621 -0.233643
1  0.525813 -0.462805 -1.639101
2  0.729274  1.149251 -0.302349
          sütun1    sütun2    sütun3
satır1  0.528466 -1.205621 -0.233643
satır2  0.525813 -0.462805 -1.639101
satır3  0.729274  1.149251 -0.302349

In [33]:
dataFrame1["sütun1"]
dataFrame1[["sütun1","sütun2"]]
dataFrame1.loc["satır1"]#dataFrame1.iloc[1]

sütun1    0.528466
sütun2   -1.205621
sütun3   -0.233643
Name: satır1, dtype: float64

In [34]:
dataFrame1.iloc[1,2]
dataFrame[0][1]

0.5258127629642645

In [35]:
dataFrame1["sütun4"]=dataFrame1["sütun1"]+dataFrame1["sütun2"]
dataFrame1["sütun4"]
dataFrame1.drop("sütun1",axis=1, inplace=False)#sütun siler axis=1 sütun 0 ise satır

          sütun2    sütun3    sütun4
satır1 -1.205621 -0.233643 -0.677156
satır2 -0.462805 -1.639101  0.063007
satır3  1.149251 -0.302349  1.878525

In [36]:
dataFrame1# gerçekten silmiyor fonsiyon olarak yani
dataFrame1.drop("sütun1",axis=1,inplace=True)

In [37]:
dataFrame1["sütun1"]=[0.3,-0.1,0.5]
dataFrame1["sütun1"]

satır1    0.3
satır2   -0.1
satır3    0.5
Name: sütun1, dtype: float64

In [38]:
dataFrame1
bloolenFrame=dataFrame1<0
dataFrame1<0

        sütun2  sütun3  sütun4  sütun1
satır1    True    True    True   False
satır2    True    True   False    True
satır3   False    True   False   False

In [39]:
dataFrame1[bloolenFrame]

          sütun2    sütun3    sütun4  sütun1
satır1 -1.205621 -0.233643 -0.677156     NaN
satır2 -0.462805 -1.639101       NaN    -0.1
satır3       NaN -0.302349       NaN     NaN

In [40]:
dataFrame1[dataFrame1["sütun1"]>0]

          sütun2    sütun3    sütun4  sütun1
satır1 -1.205621 -0.233643 -0.677156     0.3
satır3  1.149251 -0.302349  1.878525     0.5

index değiştirme

In [41]:
yeniDataFrame=dataFrame1
yeniDataFrame=yeniDataFrame.reset_index()
yeniDataFrame

    index    sütun2    sütun3    sütun4  sütun1
0  satır1 -1.205621 -0.233643 -0.677156     0.3
1  satır2 -0.462805 -1.639101  0.063007    -0.1
2  satır3  1.149251 -0.302349  1.878525     0.5

In [42]:
yeniindexlist=["ali","zey","ati"]
yeniDataFrame["yeni indexler"]=yeniindexlist
yeniDataFrame.set_index("yeni indexler")
## orjinali değişmedi
yeniDataFrame.set_index("yeni indexler",inplace=True)
yeniDataFrame

                index    sütun2    sütun3    sütun4  sütun1
yeni indexler
ali            satır1 -1.205621 -0.233643 -0.677156     0.3
zey            satır2 -0.462805 -1.639101  0.063007    -0.1
ati            satır3  1.149251 -0.302349  1.878525     0.5

In [43]:
#multi index

In [44]:
ilk_indexler=["sim","sim","sim","south park","south park","south park"]
ic_indexler=["homer","marge","bart","cartman","kenny","kyle"]
birleşmiş_index=list(zip(ilk_indexler,ic_indexler))
birleşmiş_index

[('sim', 'homer'),
 ('sim', 'marge'),
 ('sim', 'bart'),
 ('south park', 'cartman'),
 ('south park', 'kenny'),
 ('south park', 'kyle')]

In [47]:
birleşmiş_index=pd.MultiIndex.from_tuples(birleşmiş_index)
birleşmiş_index# pandastan türüyen multi index

MultiIndex([(       'sim',   'homer'),
            (       'sim',   'marge'),
            (       'sim',    'bart'),
            ('south park', 'cartman'),
            ('south park',   'kenny'),
            ('south park',    'kyle')],
           )

In [49]:
benimcizgidizilist=[[40,"a"],[30,"b"],[21,"c"],[10,"d"],[11,"e"],[9,"f"]]
npcizgidizilist=np.array(benimcizgidizilist)
cizgidiziFrame=pd.DataFrame(npcizgidizilist,index=birleşmiş_index,columns=["a","b"])
cizgidiziFrame

                     a  b
sim        homer    40  a
           marge    30  b
           bart     21  c
south park cartman  10  d
           kenny    11  e
           kyle      9  f

In [50]:
cizgidiziFrame.loc["sim"].loc["homer"]

a    40
b     a
Name: homer, dtype: object

In [51]:
cizgidiziFrame.index.names=["diziadı","karakterler"]
cizgidiziFrame

                         a  b
diziadı    karakterler
sim        homer        40  a
           marge        30  b
           bart         21  c
south park cartman      10  d
           kenny        11  e
           kyle          9  f